* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.app-container {
    display: flex;
    height: 100vh;
    color: white;
}

.sidebar {
    background-color: #171717;
    width: 320px;
    padding: 10px;
}

.sidebar-header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid green; */
}


.sidebar-btn {
    padding: 10px 14px;
    margin-left: 10px;
    color: #a4a4a4;
    font-size: 18px;
    border-radius: 10px;
    transition: .15s linear;
}

.sidebar-btn-main {
    display: none;
}

.sidebar-btn:hover {
    background-color: #464646;
}

.sidebar-header:last-child {
    color: red;
}

.history-section {
    padding: 10px;
}

.history-header {
    padding: 10px 5px;
    font-size: 12px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.chat-history {
    padding: 5px 0;
    font-weight: 400;
}

.chat-history li {
    margin: 2px 0;
    padding: 10px 5px;
    font-size: 14px;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.chat-history li:hover {
    cursor: pointer;
    background-color: #464646;
}

.main-content {
    background-color: #212121;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
    /* border: 1px solid green; */
}


/* Main qismini yuqori qsimi tipa headerchasi*/

.top-bar {
    /* border: 1px solid red; */
    position: absolute;
    top: 10px;
    left: 0;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}



/* Yangi savol yozish qismi  */

.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.chat-container .title {
    text-align: center;
    width: 600px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    padding: 20px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.input-container textarea {
    background-color: #303030;
    border: none;
    width: 700px;
    height: 80px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    color: #fff;
    padding: 15px;
    line-height: 25px;
    outline: none;
    resize: none;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.input-bottom-buttons {
    height: 40px;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #303030;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.send-btn {
    padding: 8px 12px;
    color: #000;
    background-color: #fff;
    font-size: 18px;
    border-radius: 50%;
    transition: .15s linear;
    margin-right: 15px;
    margin-bottom: 10px;
}

.send-btn:hover {
    background-color:#a4a4a4;
}


/* Main chatlashish qismi  */

.chatting-section {
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    height: 100vh;
}

.main-chatting-section {
    margin-top: 60px;
    width: 700px;
    height: 485px;
    /* border: 1px solid red; */
    overflow-y: auto;
    display: none;
}

.main-chatting-section::-webkit-scrollbar {
    width: 6px;
}

.main-chatting-section::-webkit-scrollbar-track {
    background-color:#212121;
}

.main-chatting-section::-webkit-scrollbar-thumb {
    background-color: #a4a4a4;
    border-radius: 5px;
}

.question {
    background-color:#464646;
    max-width: 550px;
    width:max-content;
    padding: 10px;
    margin-bottom: 25px;
    margin-top: 25px;
    border-radius: 15px 15px 0px 15px;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.answer {
    background-color: lightsteelblue;
    max-width: 690px;
    width:max-content;
    padding: 10px;
    margin-bottom: 15px;
    /* border-radius: 15px 15px 15px 0px; */
}


/* Main chatlashish qismi tugashi */


.llm-model {
    text-decoration: none;
    padding: 10px 14px;
    color: #a4a4a4;
    margin-left: 10px;
    font-size: 18px;
    border-radius: 10px;
    transition: .15s linear;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.llm-model:hover {
    background-color:#303030;
}
